
.navbar{
  background-color: #2C3E50;
}
.navbar-expand-lg .navbar-nav .nav-link{
  color: white;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  color: #16a085;
}

.header{
  background-color: #1ABC9C;
}
.header .image img{
  width: 15rem;
}
.star-icon{
  position: relative;
  
}
.star-icon::before{
  content: "";
  position: absolute;
  width: 6rem;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  left: -120px;
  top: 50%;
}

.star-icon::after{
  content: "";
  position: absolute;
  width: 6rem;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  left: 50px;
  top: 50%;
}
.star-icon.bg-blueb::before{
  background-color: #2C3E50;
}
.star-icon.bg-bluea::after{
  background-color: #2C3E50;
}
h1{
  font-size: 4rem;
}
h2{
  color: #2C3E50;
  font-size: 3rem;
  line-height: 2.5rem;
}

.about{
  background-color: #1ABC9C;
}
.download-btn button{
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
  color: white;
}
.download-btn button:hover{
  background-color: white;
  color: black;
}
.form-floating>.form-control, .form-floating>.form-control-plaintext {
  font-size: 1.5rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  border-width: 1px;
}
.form-floating input.form-control:focus, .form-floating textarea.form-control:focus {
  box-shadow: none;
}
#floatingTextarea{
  height: 160px;
}
.contact button{
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
  color: white;
  background-color: #1ABC9C;
}
.contact button:hover{
  background-color: #16a085;
  color: white;
  cursor: pointer;
}
.footer{
  background-color: #2C3E50;
  color: white;
}
.icons i{
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons .fa-brands:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}
.end-footer{
  background-color: #1a252f;
}
